.myAppContainer {
  font-family: sans-serif;
  color: #2c3e50;
  margin: 0;
  width: 100%;
  height: 100vh;
  cursor: default;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.myAppContainer .meter {
  width: 400px;
  height: 33%;
  margin: 5vh auto 0 auto;
  position: relative;
}

.myAppContainer .meter-pointer {
  width: 2px;
  height: 100%;
  background: #2c3e50;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.myAppContainer .meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.myAppContainer .meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.myAppContainer .frequency-bars {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.myAppContainer .notes {
  width: 100%;
  text-align: center;
}

.myAppContainer .note {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.myAppContainer .note.active {
  color: #e74c3c;
}

.myAppContainer .notes-list {
  overflow: auto;
  white-space: nowrap;
}

.myAppContainer .note span {
  position: absolute;
  right: 0.25em;
  font-size: 40%;
  font-weight: normal;
}

.myAppContainer .note-sharp {
  top: 0.3em;
}

.myAppContainer .note-octave {
  bottom: 0.3em;
}

.myAppContainer .frequency {
  font-size: 32px;
}

.myAppContainer .frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

@media (max-width: 768px) {
  .myAppContainer .meter {
    width: 100%;
  }

  .myAppContainer .notes {
    width: 100%;
  }
}
